.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.total_restaurants {
  color: #009de0;
  margin-right: 1rem;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurant_card_container {
  max-width: 300px;
}
.restaurant__card {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2rem;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 264px;
  cursor: pointer;
  overflow: hidden;
  max-width: 300px;
}
.restaurant__card:hover {
  box-shadow: 0 4px 12px 0 rgba(32, 33, 37, 0.06);
}
.restaurant__card:hover .restaurant__image {
  transform: translateZ(0) scale(1.02);
}
@media only screen and (max-width: 589px) {
  .restaurant__card {
    margin-right: 0;
    margin-left: 0;
  }
}
.restaurant__image {
  cursor: pointer;
  position: relative;
  transition: transform 300ms ease-in-out;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.image_wrap {
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.restaurant__status {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.restaurant__info {
  margin-left: 2px;
}
.restaurant__name {
  background: #fff;
  padding: 1rem;
  margin: 0;
}
.restaurant__desc {
  border-top: 1px dotted black;
  padding: 0.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}
.restaurant__rating {
  display: flex;
  align-items: center;
}
.rating__emoji {
  margin-right: 5px;
  height: 12px;
  width: 12px;
}
